{% extends 'base.html' %}

{% block body %}
<div>
  <div class="col-sm-4">
    <h1>Cart</h1>
    <p>Order number: {{ cart.id }}</p>
  </div>

{% if cart.products.exists %}
<table class="table table-striped cart-table">
  <thead class = "thead-dark">
    <tr>
      <th scope="col-3">Product</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Modify</th>
    </tr>
  </thead>
  <tbody class = 'cart-body'>
    {% for product in cart.products.all %}
    <tr class = 'cart-product'>
      <th scope="row">
        <div class="img-container" style = "height:100px;">
          {% if product.picture %}
          <img src="{{product.picture.url}}" style = "height: 100px;" alt=""></th>
          {% else %}
          <h1>{{product.title}}</h1>
          {% endif %}
        </div>

      <td> <a href="{{product.get_absolute_url}}">{{product.title}}</a></td>
      <td>{{product.description}}</td>
      <td>${{product.price}}</td>
      <td>
        <div class="">
          1
        </div>
      </td>
      <td>
          {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True%}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"></td>
      <td><b> Subtotal: </b> <span class = 'cart-subtotal'>${{cart.subtotal}}</span></td>
    </tr>

</table>

{% else %}
<p class = "lead"> empty cart</p>
{% endif %}

<div class= "col-3 ml-auto" >
  <h3>Grand total:
    <span class = 'cart-total'>${{cart.total}}</span></h3>
</div>
  </tbody>
<div class= "col-2 ml-auto">
    <a href='{% url 'cart:checkout' %}' class= "btn btn-primary" >Proceed to checkout</a>
</span>
</div>

{% endblock %}
