{% extends '../base.html' %}
{% load static %}
{% block body %}
  <div class="text-center ml-auto mr-auto">
    <br/>
    <h1>{{title}}</h1>
    <p>{{message}}</p>
  </div>
  <img id = 'login-img' src="{% static 'img/rgSticker.png'%}" alt=""></img>
  <div class="container text-center">
    <div class="col-sm-6 col-12 mt-3 mx-auto">
      <form method="POST"> {%csrf_token%}
        {{form}}
        <button class ="btn btn-outline-success btn-block mt-4 mb-2" type="success" name="button">Login</button>
        <a href = "/register">
         <button class  = "btn btn-block btn-outline-primary" type="button" onclick="window.location.href='/register'">Register</button>
        </a>

      </form>
    </div>
  </div>
{% endblock %}
