{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RG Vibes</title>
    {% include 'base/css.html' %}
  </head>
  <body>

  {% include 'base/navbar.html' with brand_name='RG Vibes' %}
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  {% include 'base/js.html' %}

  <script>
    $(document).ready(function(){
      console.log("doc is ready");

      var form = $(".form-product-ajax")
      form.submit(function(e){
        e.preventDefault();
        var thisForm = $(this)
        var actionEndpoint = thisForm.attr("action");
        var httpMethod = thisForm.attr("method");
        var formData = thisForm.serialize();

        $.ajax({
          url: actionEndpoint,
          method:httpMethod,
          data:formData,

          success: function(data){
            console.log("success");
            console.log(data);
          },
          error: function(errData){
            console.log("Error");
            console.log(errData);

          },
        })

      });
    });
  </script>
  </body>
</html>
