{% extends 'base.html'%}
{% block body %}
<div class="row">
  <div class="col-12 col-md-6">
    <h1>{{ object.title }}</h1><br/>
    <h4> Date released: {{object.timestamp|date}}</h4>
      {{ object.description|linebreaks }}<br/>
      {% if object.picture %}
    <img src = '{{ object.picture.url }}' class = 'img-fluid'alt =""/>
  </div>
    {% endif %}
  <div class="col-12 col-md-6">
        {% include 'products/snippets/update-cart.html' with product=object cart=cart in_cart=False %}
  </div>
</div>
{% endblock %}
